<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <h2 class="col-md-7 col-md-offset-1">{{ 'CHANGE_PASSWORD_TITLE' | translate }}</h2>
    </div>
    <div class="row">
        <div class="alert alert-danger col-md-6 col-md-offset-1" ng-show="errorMessage">
            {{ errorMessage }}
        </div>
    </div>
    <form role="form" name="passwordForm" class="form-horizontal" ng-submit="changePassword()" novalidate>
        <div class="form-group">
            <label for="password" class="col-md-3 control-label">Current Password</label>
            <div>
                <input type="password" id="password" class="col-md-3" name="password"
                       placeholder="Current Password" ng-model="password" validation="required" validation-event="blur">
                <span class="validation text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="new-password" class="col-md-3 control-label">New Password</label>
            <div>
                <input type="password" id="new-password" class="col-md-3" name="new-password" placeholder="New Password"
                       ng-model="newPassword" validation="min_len:5|required" validation-event="blur">
                <span class="validation text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm-new-password" class="col-md-3 control-label">Confirm New Password</label>
            <div>
                <input type="password" id="confirm-new-password" class="col-md-3" name="confirm-new-password"
                       placeholder="Confirm New Password" ng-model="confirmPassword" validation="min_len:5|required" validation-event="blur">
                <span class="validation text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <button type="submit" class="btn btn-primary col-md-6" ng-disabled="passwordForm.$invalid">{{ 'CHANGE_PASSWORD_BUTTON' | translate }}</button>
            </div>
        </div>
    </form>    ​
</div>