<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <h2 class="col-md-7 col-md-offset-1">{{ 'CHANGE_PASSWORD_TITLE' | translate }}</h2>
    </div>
    <div class="row">
        <div class="alert alert-danger col-md-6 col-md-offset-1" ng-show="errorMessage">
            {{ errorMessage }}
        </div>
    </div>
    <form role="form" name="passwordForm" class="form-horizontal" ng-submit="changePassword()" novalidate>
        <div class="form-group">
            <label for="password" class="col-md-3 control-label">{{ 'CURRENT_PASSWORD_LABEL' | translate }}</label>

            <div>
                <input type="password" id="password" class="col-md-3" name="password"
                       placeholder="{{ 'CURRENT_PASSWORD_LABEL' | translate}}" ng-model="password"
                       validation="required">
                <span class="validation text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="new-password" class="col-md-3 control-label">{{ 'NEW_PASSWORD_LABEL' | translate }}</label>

            <div>
                <input type="password" id="new-password" class="col-md-3" name="new-password"
                       placeholder="{{ 'NEW_PASSWORD_LABEL' | translate }}"
                       ng-model="newPassword" validation="required:min_len:5">
                <span class="validation text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm-new-password" class="col-md-3 control-label">
                {{ 'CONFIRM_NEW_PASSWORD_LABEL' | translate }}
            </label>

            <div>
                <input type="password" id="confirm-new-password" class="col-md-3" name="confirm-new-password"
                       placeholder="{{ 'CONFIRM_NEW_PASSWORD_LABEL' | translate }}" ng-model="confirmPassword"
                       validation="same:new-password:NEW_PASSWORD_LABEL">
                <span class="validation text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <button type="submit" class="btn btn-primary col-md-6" ng-disabled="passwordForm.$invalid">
                    {{ 'CHANGE_PASSWORD_BUTTON' | translate }}
                </button>
            </div>
        </div>
    </form>
    ​
</div>