<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <h2 class="col-md-7 col-md-offset-1">{{ 'CHANGE_PASSWORD_TITLE' | translate }}</h2>
    </div>
    <div class="row">
        <div class="alert alert-danger col-md-6 col-md-offset-1" id="errorMessage" ng-show="errorMessage">
            {{ errorMessage | translate }}
        </div>
    </div>
    <form role="form" name="passwordForm" id="profile-form" class="form-horizontal" ng-submit="changePassword()" novalidate>

        <div class="form-group" ng-class="{'has-error': passwordForm.password.$invalid}">
            <label for="password" class="col-md-3 control-label">{{ 'CURRENT_PASSWORD_LABEL' | translate }}</label>
            <div class="col-md-6">
                <input type="password" id="password" class="col-md-3 form-control" name="password"
                       placeholder="{{ 'CURRENT_PASSWORD_LABEL' | translate}}" ng-model="password"
                       validation="required">
                <errors id="errorsPassword" field="password" error="errors.password"></errors>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error': passwordForm.newPassword.$invalid}">
            <label for="newPassword" class="col-md-3 control-label">{{ 'NEW_PASSWORD_LABEL' | translate }}</label>
            <div class="col-md-6">
                <input type="password" id="newPassword" class="col-md-3 form-control" name="newPassword"
                       placeholder="{{ 'NEW_PASSWORD_LABEL' | translate }}"
                       ng-model="newPassword" validation="required|min_len:5|revalidate:confirmNewPassword">
                <errors id="errorsNewPassword" field="newPassword" error="errors.newPassword"></errors>
            </div>
        </div>


        <div class="form-group" ng-class="{'has-error': passwordForm.confirmNewPassword.$invalid}">
            <label for="confirmNewPassword" class="col-md-3 control-label">
                {{ 'CONFIRM_NEW_PASSWORD_LABEL' | translate }}
            </label>

            <div class="col-md-6">
                <input type="password" id="confirmNewPassword" class="col-md-3 form-control" name="confirmNewPassword"
                       placeholder="{{ 'CONFIRM_NEW_PASSWORD_LABEL' | translate }}" ng-model="confirmNewPassword"
                       validation="same:newPassword:NEW_PASSWORD_LABEL">
                <errors id="errorsConfirmNewPassword" field="confirmNewPassword" error="errors.confirmNewPassword"></errors>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <button type="submit" id="submit" class="btn btn-primary col-md-6" ng-disabled="passwordForm.$invalid">
                    {{ 'CHANGE_PASSWORD_BUTTON' | translate }}
                </button>
            </div>
        </div>
    </form>
    ​
</div>