.center-block {
    float: none;
}

.alert {
    margin: 0px 0px 0px 0px;
    padding: 4px 0px 4px 0px;
}

h3 {
    padding-bottom: 10px;
}

.row {
    padding-top: 0px;
    padding-bottom: 0px;
}

#content {
    margin: 0px 15px 0px 15px;
}
